@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
/* font-family: 'Francois One', sans-serif; */


html {
    font-family: 'Francois One', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #E7CEA6;
}

button {
    font-family: 'Francois One', sans-serif;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: black;
    color: white;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.lib-header {
    display: grid;
    gap: 10px;
    background-color: white;
    grid-template-columns: 1fr 1fr 1fr;
}

.lib-header > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
    margin-left: 30px;
    gap: 20px;
}

.left > img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: solid 1px;
}

.left h3:hover {
    cursor: pointer;
    background-color: #A1C2F1;
}

.center h1:hover {
    cursor: pointer;
    background-color: #A1C2F1;
}

.right {
    justify-content: flex-end;
    margin-right: 50px;
}

.right #add-book {
    height: 30px;
    width: 35px;
}

.lib-main {
    display: grid;    
    width: 75%;
    justify-self: center;
    margin: 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-template-rows: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
    justify-content: center;
}


/*Menu*/

.add-book-menu {
    height: clamp(370px, 35%, 550px);
    width: clamp(350px ,30%, 500px);
    background-color: #0A6EBD;
    color: white;
    display: grid;
    grid-template-rows: 50px 1fr;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: animate;
    animation-duration: 0.5s;
}

@keyframes animate {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.add-book-menu h3 {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: 55px;
}

form {
    display: grid;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
}

label {
    display: inline-block;
    width: 6em;
}

label[for="read-status"] {
    width: 7em;
}

input {
    width: 80%;
}

input[placeholder] {
    font-family: 'Francois One', sans-serif;
}

form p:nth-child(4) {
    width: 50%;
}

button#confirm {
    justify-self: center;
    font-size: x-large;
    width: 6em;
    height: 2em;
}



/*Book*/
.book {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: flex-end;
    animation: addBook 1s;
    background-color:#A1C2F1;
    border: solid 5px white;
    border-radius: 10%; 
}

@keyframes addBook {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

.book > * {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.book .options {
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
}

.options .read-status {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 50px;
    height: 30px;
}

.options #read {
    background-color: rgb(134, 255, 113);
}

.options #not-read {
    background-color: rgb(255, 126, 126);
}

.book .delete {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 30px;
    width: 30px;
}

.book .title {
    word-break: break-all;
}

.book .author {
    align-items: flex-start;
    word-break: break-all;
}

.book .page-count {
    justify-content: flex-end;
    align-self: flex-end;
}