body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    background-color: rgb(191, 250, 255);
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

.lib-header {
    display: grid;
    gap: 10px;
    background-color: aliceblue;
    grid-template-columns: 1fr 1fr 1fr;
}

.lib-header > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    justify-content: flex-start;
    margin-left: 30px;
    gap: 20px;
}

.left > img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: solid 1px;
}

.right {
    justify-content: flex-end;
    margin-right: 50px;
    gap: 20px;
}

.lib-main {
    display: grid;    
    background-color: black;
    width: 75%;
    justify-self: center;
    margin: 50px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-template-rows: repeat(auto-fit, 250px);
    grid-auto-rows: 250px;
    gap: 10px;
    justify-content: center;
}

.book {
    background-color: yellow;
}






/*Menu*/

.add-book-menu {
    height: clamp(370px, 35%, 550px);
    width: clamp(350px ,30%, 500px);
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 50px 1fr;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.add-book-menu h3 {
    display: flex;
    justify-content: center;
    height: 20px;
    margin-top: 55px;
}

form {
    display: grid;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
}

label {
    display: inline-block;
    width: 6em;
}

label[for="read-status"] {
    width: 7em;
}

input {
    width: 80%;
}


form p:nth-child(4) {
    width: 50%;
}

button#confirm {
    justify-self: center;
    width: 8em;
    height: 4em;
}

/* For Testing Book Elements */
/*
.book {
    display: grid;
    grid-template-rows: auto 50px 1fr;
}

.book > * {
    width: 100%;
    justify-content: flex-start;
    margin-left: 20px;
    word-wrap: break-word;
}

.book > p {
    width: 100%;
    padding-right: 20px;
}

.book h3 {
    font-size: 1em;
}


p#page-count {
    justify-self: flex-end;
    justify-content: end;
    align-items: end;
    padding-right: 20px;
}
*/

.book {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: flex-end;
}

.book > * {
    display: flex;
    width: 200px;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.book .read-status {
    justify-content: center;
    align-self: flex-start;
    font-size: 10px;
    width: 50px;
    height: 30px;
}

.book #read {
    background-color: greenyellow;
}

.book #not-read {
    background-color: red;
}

.book .title {
    word-break: break-all;
}



.book .author {
    align-items: flex-start;
    word-break: break-all;
}

.book .page-count {
    justify-content: flex-end;
    align-self: flex-end;
}